name: test

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - 2.3
        image:
          - debian:bullseye
          - debian:bookworm
          - debian:trixie
          - amazonlinux:2
          - ubuntu:focal
          - ubuntu:jammy

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: bundle update
        run: |
          set -xe
          bundle config --local path $PWD/vendor/bundle
          bundle config --local jobs $(nproc)
          bundle update --retry 3

      - name: Run test (1st installation)
        run: bundle exec rake test
        env:
          SOURCE_IMAGE: ${{ matrix.image }}

      - name: Run test (installation is skipped)
        run: bundle exec rake test
        env:
          SOURCE_IMAGE: itamae-plugin:latest
          DATADOG_UPGRADE: "false"
          DD_API_KEY: api_key_2

      - name: Run test (datadog-agent is upgraded)
        run: bundle exec rake test
        env:
          SOURCE_IMAGE: itamae-plugin:latest
          DATADOG_UPGRADE: "true"
          DD_API_KEY: api_key_3

      - name: Run test (DD_AGENT_MAJOR_VERSION is specified)
        run: bundle exec rake test
        env:
          SOURCE_IMAGE: ${{ matrix.image }}
          DD_AGENT_MAJOR_VERSION: 7

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
          matrix: ${{ toJson(matrix) }}

  notify:
    needs:
      - test

    runs-on: ubuntu-latest

    steps:
      - name: Slack Notification (success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: always()
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
